.photo-grid__list {
  box-sizing: border-box;
  display: grid;
  max-width: 1184px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    gap: 14px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    gap: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid__list {
    gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
