.lead__image {
  box-sizing: border-box;
  display: block;
  max-width: 984px;
  width: 100%;
  aspect-ratio: 984/615;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
  }
}
