.intro {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;
  padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 424px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }
}
