.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    row-gap: 32px;
  }
}
