.intro__article {
  max-width: 690px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .intro__article {
    max-width: 720px;
  }
}

/* @media screen and (max-width: 767px) {
  .intro__article {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 424px) {
  .intro__article {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }
} */
